<section class="page">
    <header>
        <h1 class="page-title">Sarah,</h1>
        <p class="tag-line">Make me a sandwich.</p>
    </header>
    <section class="content">
        <button class="sign-up">Sign up with Google</button>
    </section>
</section>
